@media screen  and (min-width: 769px) and (max-width: 900px){

.navbar{
    padding: 10px 0!important;
    height: 10vh;
}

/* ***************** Header start  ********************* */


.header .row{
    height: 100%;
}

.header .image-container img{
    width: 110%;
}

.header .text-container .h1-large{
    font-size: 38px;
}

.btn-learn{
    padding: 15px 30px!important;
    font-size: 14px!important;
}    




/* ****************  Information  ****************** */

.title-small{
  font-size: 25px;
}
.para-small{
  font-size: 16px;
}


/* ***********  Commitment  ************* */

 .header-content{
    padding: 30px 0 20px;
}

 .para{    
    max-width: 700px;
}



/* *************  testimonial  Start  ***************** */

 .testimonial .title{
    max-width: 600px!important;
}

.swiper-container {
      width: 100%;
      height: auto!important;
}

 .swiper-slide{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    grid-column-gap: 20px;  
    grid-row-gap: 20px;  
 }
  
  .testimonial .block{
    margin: 10px 0 30px;
}


/* *************  testimonial  End  ***************** */


/* *********************  Contact   ********************* */


.contact .title{
    width: 100%;
    max-width: 800px!important;
    font-size: 34px;
}






/* ****************************************************** */

@media screen  and (max-width: 768px){

.navbar{
    padding: 10px 0!important;
    height: 10vh;
}

/* ***************** Header start  ********************* */


.header .row{
    height: 100%;
}

.header .image-container img{
    display: none;
}

.header .text-container .h1-large{
    font-size: 34px;
}

.btn-learn{
    padding: 15px 20px!important;
    font-size: 12px!important;
}    



/* ******************  Signup ******************** */

.signup{
    width: 100%;
    padding: 20px 0;
}

.signup-block{
    border-radius: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-block h1{
    margin: 0 0 10px 0;
}

.btn-main{
    padding:10px 40px;
}



/* ****************  Information  ****************** */

.information{
    padding: 20px 0;
}

.information .header-content .title{
    font-size: 42px;
}

.information .header-content .para{
    font-size: 14px;
}

.info-content{
    padding: 30px 0 10px;
}
.title-small{
  font-size: 20px;
}
.para-small{
  font-size: 15px;
}


/* ***********  Commitment  ************* */

.commitment{
    padding:50px 10px;
    width: 100%;
    height: auto;
}

 .header-content{
    padding: 30px 0 40px ;
    text-align: center;
}

 .para{    
    font-size: 14px;
    font-weight: 800;
}



/* *********************  Invoicing    ********************* */

.invoicing{
    padding:50px 0;
    /* background:#2F3B4D; */
}

.invoicing .title{
    font-size: 42px;
}

.invoicing .text-container h3{
    font-size: 20px;
}

.invoicing .text-container .media  i{
    font-size: 16px;
}

.invoicing .text-container .media-body{
    font-size: 16px;
}

.invoicing img{
  margin: 20px 0 0;
}


/* *************  testimonial  Start  ***************** */

 .testimonial{
    padding: 20px 0 50px;
 }


 .testimonial .title{
    margin-bottom: 50px;
    padding: 0 10px;
    font-size: 26px;
    max-width: 900px;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;
}

.swiper-container {
      width: 100%;
      height: auto!important;
}

 .swiper-slide{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    grid-column-gap: 20px;  
    grid-row-gap: 20px;  
 }
  
  .testimonial .block{
    margin-bottom: 30px;
}


/* *************  testimonial  End  ***************** */


/* *********************  Contact   ********************* */

.contact{
    padding:50px 0;
}    

.contact .title{
    max-width: 500px;
    color: whitesmoke!important;
    font-size: 28px;
    letter-spacing: 1px;
    margin:30px 0;
    font-weight: 700;
    color: #40514e;
}


/* ****************  Footer section  *********************** */

.footer .col-md-4{
    margin: 15px 0;
}
.footer-col h4{
    text-align: left!important;
}

.footer-col ul{
    text-align: left;
}

.footer .copyright p{
    margin:10px 0!important;
}

}





/* **************************************************** */

@media screen and (max-width: 320px){
 
.navbar{
    padding: 14px 0!important;
}

.navbar .navbar-brand{
    margin-left: 20px;
    font-size: 20px;
}

.navbar .container-fluid{
    line-height: 20px;
}

.navbar .navbar-nav{
    padding: 10px 0;
    background:linear-gradient(to right, rgb(86, 204, 242), rgb(79,193,233));
}

.navbar-toggler{
    margin-right: 20px;
    font-size: 18px!important;
}


/* ***************** Header start  ********************* */


.header .text-container .h1-large{
    font-size: 24px;
}

.btn-learn{
    padding: 12px 20px!important;
    font-size: 10px!important;
}    



/* ******************  Signup ******************** */


.signup-block h1{
    margin: 0 0 10px 0;
    font-size: 14px;
}

.btn-main{
    padding:10px 30px;
    font-size: 14px;
}



/* ****************  Information  ****************** */


.information .header-content .title{
    font-size: 30px;
}

.information .header-content .para{
    font-size: 12px;
}

.info-content{
    padding: 30px 0 0px;
}
.title-small{
  font-size: 18px;
}
.para-small{
  font-size: 13px;
}


/* ***********  Commitment  ************* */

.commitment{
    padding:30px 0px 0;
    width: 100%;
    height: auto;
}

 .header-content{
    padding: 30px 0 40px ;
    text-align: center;
}

 .para{    
    font-size: 12px;
    font-weight: 800;
}

.title{
    font-size: 30px;
}



/* *********************  Invoicing    ********************* */

.invoicing{
    padding:50px 0 30px;
    /* background:#2F3B4D; */
}

.invoicing .title{
    font-size: 32px;
}

.invoicing .text-container h3{
    font-size: 16px;
}

.invoicing .text-container .media  i{
    font-size: 14px;
}

.invoicing .text-container .media-body{
    font-size: 14px;
}


/* *************  testimonial  Start  ***************** */

 .testimonial{
    padding: 20px 0 50px;
 }


 .testimonial .title{
    font-size: 24px;
}

.swiper-container {
      width: 100%;
      height: auto!important;
      padding: 5px 0!important;
}

  .testimonial .block{
    margin-bottom: 20px;
}

.testimonial .block-info h5{
    font-size: 20px;
}
 .testimonial .block-info p{
    font-size: 14px;
}


}




